parameters:
#    ice_cream.example.class: HH\IceKioskBundle\Example

services:
#    ice_kiosk.example:
#        class: %ice_kiosk.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    ice_kiosk.parse_request_data_listener:
        class: HH\IceKioskBundle\EventListener\IceCreamListener
        calls:
            - [setIceCreamService, [@ice_kiosk.ice_cream_service]]
        tags:
            - { name: kernel.event_listener, event: api.post_request_terminate, method: onTerminate }

    ice_kiosk.ice_cream_service:
        class: HH\IceKioskBundle\Service\IceCreamService
        arguments: [ "@doctrine.orm.entity_manager" ]
